<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>
    <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="ERROR"/>
    <logger name="ch.qos.logback" level="ERROR"/>
    <logger name="reqlog" level="DEBUG"/>

    <logger name="com.poc.automation.testing" level="INFO"/>

    <logger name="com.poc.automation.testing.logging" level="DEBUG"/>

</configuration>